
// Colors

$grey-color: #595959;
$black-color: #000000;
$background-soft-black-color: #595959;
$tomato-color: #FF664D;
$dark-gray-blue-color: #313338;
$light-gray-color: #C4C4C4;
$gray-blue-color: #F7F8F9;
$pale-color: #FFF2F1;