.perks {
    box-shadow: 0px 0px 20px #FAECEB;
    background-color: #FFFFFF;
    @apply z-50 relative;
    border-radius: 4px;
    min-width: 236px;
    min-height: 225px;
    @screen md {
        min-width: 155px;
        min-height: 185px;
    }
    @screen xl {
        min-width: 245px;
        min-height: 233px;
    }
}

.card-services {
    min-width: 197px;
    min-height: 149px;
    box-shadow: 0px 0px 20px 0px rgba(250, 236, 235, 1);
    @apply flex items-center justify-center text-center;
}

.card-customer-result {
    @apply pt-10;
    min-width: 250px;       
    min-height: 412px;
    border-radius: 4px;
    @screen md {
        min-width: 222px;
        min-height: 358px;
    }
    @screen xl {
        min-width: 222px;
        min-height: 358px;
    }
}

.card-customer-result-img {
    @apply flex justify-center;
    overflow: hidden;
    min-width: 250px;
    min-height: 412px;
    border-radius: 4px;
    @screen md {
        min-width: 222px;
        min-height: 358px;
    }
    @screen xl {
        min-width: 422px;
        min-height: 358px;
    }
}

.card-customer-result-gallery {
    
}

.card-customer-result-info {
    color: #FFFFFF;
    background-color: #9A9A9A;
    @screen md {
        @apply py-10 px-9 text-left;
    }
    .card-customer-result-info-number {
        font-size: 35px;
        letter-spacing: 2px;
    }
    .card-customer-result-info-label {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #000000;
    }
}