.bg-front-page {
    background-color: #000000;
}

.front-page-section {
	@apply pb-12 pt-6;
    @screen xxl {
		@apply pb-24;
		margin-left: 200px;
		margin-right: 200px;
	}
}

.fp-bg-grey {
	background-color: $grey-color;
}
.fp-bg-orange-to-grey {
	background-color: $tomato-color;
	background-position-x: -88px !important;
	background-position-y: 94% !important;
	background-image: url('/app/themes/tob-organized-q-theme/resources/assets/images/icons/q-orange.svg');
}
@screen md {
	.fp-bg-orange-to-grey {
		background-position-x: center !important;
		background-position-y: center !important;
		background-color: $grey-color;
		background-image: url('/app/themes/tob-organized-q-theme/resources/assets/images/icons/Big-Q.svg');
	}
}
.fp-bg-black {
	background-color: $black-color;
}
.fp-bg-grey-to-transparent {
	background-image: linear-gradient(80deg, #000000 0% 16%, transparent 16% 100%);
}

.front-page-section-wide {
	@screen md {
		min-height: 490px;
	}
}

// Responsive margins for custom sections
@responsive {
	.fp-ml {
		margin-left: 200px;
	}
	.fp-mr {
		margin-right: 200px;
	}
	.fp-pl {
		padding-left: 200px;
	}
	.fp-pr {
		padding-right: 200px;
	}
}

.front-page-section-img-noclip {
	@screen md {
		width: 796px;
		height: 490px ;
		object-fit: cover;
		object-position: bottom;
		filter: drop-shadow(0px 0px 20px #FAECEB);
	}
}
.front-page-section-img {
	@screen md {
		width: 796px;
		height: 490px ;
		object-fit: cover;
		object-position: bottom;
		filter: drop-shadow(0px 0px 20px #FAECEB);
		clip-path: polygon(14% 0%, 100% 0, 100% 100%, 0% 100%);
	}
}

.front-page-section-img-r-clip {
	@screen md {
		width: 796px;
		height: 490px ;
		object-fit: cover;
		object-position: bottom;
		clip-path: polygon(0% 0%, 100% 0, 86% 100%, 0% 100%);
	}
}

.front-page-section-img-r-clip-bottom {
	@screen md {
		width: 796px;
		height: 490px ;
		object-fit: cover;
		object-position: bottom;
		clip-path: polygon(0% 0%, 86% 0, 100% 100%, 0% 100%);
	}
}

.front-page-section-tag {
	@apply px-4 p-0.5 mb-5 text-center;
	background-color: #000000;
	text-transform: uppercase;
	min-height: 21px;
	width: 168px;
	// min-width: 168px;
	color: #ffffff;
	// font-family: 'museo';
}

.front-page-section-header {
	color: $black-color;
	@apply mt-3 mb-5;
	// font-family: 'brandon';
	font-weight: bold;
	font-size: 40px;
}
@screen md {
	.front-page-section-header {
		font-size: 30px;
	}
}


.front-page-section-header-tomato {
	color: $tomato-color;
	// font-family: 'brandon';
	font-weight: bold;
	font-size: 40px;
}

.front-page-section-subtitle {
	color: $black-color;
	@apply mt-4 mb-4 md:mt-3 md:mb-2;
	// font-family: 'brandon';
	font-size: 18px;
	list-style: 25px;
	letter-spacing: 0.005em;
}
@screen md {
	.front-page-section-subtitle {
		font-size: 16px;
		line-height: 22px;
	}
}

.front-page-section-copy {
	@apply mt-7 mb-7 md:mt-1 md:mb-1;
	color: $grey-color;
	letter-spacing: 0.005em;
	// font-family: 'brandon';
	font-size: 14px;
	line-height: 19px;
}
@screen md {
	.front-page-section-copy {
		font-size: 16px;
		line-height: 22px;
	}
}

.front-page-section-img {
	
}

.btn-cta {
	background-color: $tomato-color;
	@apply text-center pt-2.5 block border-red;
	@apply hover:bg-grey hover:text-white hover:shadow-lg hover:border-grey;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	color: white;
	width: 202px;
	height: 45px;
}

.btn-cta-white {
	@apply text-center pt-2.5 block;
	@apply hover:bg-red hover:text-white hover:shadow-lg hover:border-red;
	border-width: 1px;
	border-style: solid;
	background-color: white;
	border-radius: 4px;
	color: $grey-color;
	width: 202px;
	height: 45px;
}

.bullet-number {
	// font-family: 'museo';
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
	color: white;
}

.bullet-title {
	// font-family: 'brandom';
	font-size: 18px;
	font-weight: bold;
	color: white;
	letter-spacing: 2px;
}

.copy {
	// font-family: 'brandom';
	font-size: 1rem;
	font-weight: normal;
	color: $grey-color;
}

.bullet-copy {
	// font-family: 'brandom';
	font-size: 1rem;
	font-weight: normal;
	color: white;
	letter-spacing: 0.005em;
}

// Backgrounds
.bg-q-img {
	
	object-position: center;
    background-repeat: no-repeat;
    background-position-x: 396px;
    background-position-y: center;
}

.bg-q-img-mobile {
	object-position: center;
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: center;
	background-image: linear-gradient(84deg, transparent 0% 20%, #000000 20% 100%),
	url();
	
}

@screen md {
	.bg-q-img-mobile {
		object-position: center;
		background-repeat: no-repeat;
		background-position-x: 396px;
		background-position-y: center;
        background-image:
        linear-gradient(80deg, transparent 0% 16%, #000000 16% 100%),
        url('/app/themes/tob-organized-q-theme/resources/assets/images/icons/Big-Q.svg');
	}
}

.bg-q-img-center {
	object-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.bg-q-img-ltr {
	object-position: center;
    background-repeat: no-repeat;
    background-position-x: 655px;
    background-position-y: center;
}

.organized-q-footer {
	background-color: $dark-gray-blue-color;
	@apply py-24;
	color: white;
}

.organized-q-footer-logo {
	height: 51px;
	width: 41;
}

.organized-q-footer-header {
	// font-family: 'Brandon';
	@apply mb-4;
	font-weight: normal;
	letter-spacing: 0.005em;
	font-size: 15px;
}

.organized-q-footer-copy {
	// font-family: 'Brandon';
	color: $light-gray-color;
	font-weight: normal;
	letter-spacing: 0.005em;
	font-size: 10px;
	@screen md {
		font-size: 12px;
	}
}

.organized-q-footer-menu {
	// font-family: 'Brandon';
	list-style: none;
	color: $light-gray-color;
	padding-left: 0;
	font-size: 10px;
	a {
		color: $light-gray-color;
	}
	@screen md {
		font-size: 12px;
	}
}


// Background Classes
@responsive {
	.bg-grey-blue {
		background-color: $gray-blue-color;
	}
	.bg-pale {
		background-color: $pale-color;
	}
}

// homepage section animation
@keyframes slide-in-left {
	0% {
		opacity: 0;
		transform: translateX(-10%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes slide-in-right {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes grow-out {
	0% {
		transform: scaleX(0);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
	}
}

@keyframes fade-enter {
	0% {
		opacity: 0;
		transform: translateY(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.animation-grow {
		animation: grow-out 800ms;
		
	}
}
@media (prefers-reduced-motion: no-preference) {
	.section-animation {
		animation: fade-enter 800ms;
		
	}
}
@media (prefers-reduced-motion: no-preference) {
	.hero-animation {
		animation: grow-out 800ms;
		
	}
	.slide-in-left {
		animation: slide-in-left 600ms;
	}
	.slide-in-right {
		animation: slide-in-right 600ms;
	}
}